.footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  mat-toolbar {
    max-height: 30px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;

    
    span {
      font-size: .8rem;
    }

    .icons {
      display: flex;
      gap: 1rem;

      .icon {
        display: flex;
        align-items: center;
      }
    }
  }


}