<main class="container">

  <h1 class="title">{{ title }}</h1>
  
    <div class="options">
      <mat-form-field appearance="fill" class="select">
        <mat-label>Select Region</mat-label>
        <mat-select [(ngModel)]="select">
          <mat-option value="All regions">All regions</mat-option>
          <mat-option value="Americas">Americas</mat-option>
          <mat-option value="Africa">Africa</mat-option>
          <mat-option value="Asia">Asia</mat-option>
          <mat-option value="Europe">Europe</mat-option>
          <mat-option value="Oceania">Oceania</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="onRegion(select)">
        Filter
      </button>
    </div>

  <mat-progress-bar *ngIf="progressBar"  mode="indeterminate"></mat-progress-bar>

  <section class="cards">
    <ul>
      <li class="card {{ item.region }}" *ngFor="let item of homeModel">
        <div class="card_int">
          <div class="front">
            <img
              class="card_flags"
              src="{{ item.flags.svg }}"
              alt="Bandeiras"
            />
          </div>
          <div class="background">
            <p>Name: {{ item.name.common }}</p>
            <p>Region: {{ item.region }}</p>
            <p>Subregion: {{ item.subregion }}</p>
            <p>Capital: {{ item.capital }}</p>
            <button mat-raised-button routerLink="/maps/{{ item.name.common }}" >
              Maps
            </button>
          </div>
        </div>
      </li>
    </ul>
  </section>
</main>
